/*** fonts */

/*** no text select class for btns */
.noSelect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

/*** global */
html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
	/* background:  */
	background-image: radial-gradient(rgba(17, 30, 43, 0.7), rgb(11, 32, 51));
	background-position: center;
	background-size: cover;
	/* background: rgb(191, 192, 194); */
	position: relative;
	overflow: hidden;
	text-align: justify;
	color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	text-align: center;
}

p {
	font-weight: 400;
}

/*** header */

header {
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	/* min-width: 1400px; */
	height: 60px;
	/* padding: 0 35px 0 24px; */
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
	/* border-right: 2px solid rgb(67, 163, 228); */

}
.divInHeader{
	display: flex;
	width: 100%;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	/* padding: 0 2rem 0 3.75rem; */
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
	border-right: 2px solid rgb(67, 163, 228);
	border-left: 2px solid rgb(67, 163, 228);

}
/* header .logoDiv{
	max-width: 1400px;
	display: flex;
	justify-content: space-around;
	border: 2px solid rgb(219, 172, 16);
} */
/* header>.logo {
	width: 300px;
	max-height: 58px;
	box-sizing: border-box;
	width: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	
} */
/*** footer */
footer {
	display: flex;
	flex-shrink: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 1440px;
	height: 60px;
	/* border: 2px solid rgb(12, 14, 15); */
	/* padding-right: 20px; */
}

.divInFooter {
	display: flex;
	width: 100%;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	/* padding: 0 2rem 0 3.75rem; */
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
	border-right: 2px solid rgb(67, 163, 228);
	border-left: 2px solid rgb(67, 163, 228);

}

/*** scroll */
/* scroll chrome */
.mainContentHolder::-webkit-scrollbar {
	width: 22px;
}

.mainContentHolder::-webkit-scrollbar-track {
	box-sizing: border-box;
	border: 2px solid rgb(67, 163, 228);
	border-right: none;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0 0 6px rgba(49, 166, 202, 0);
	/* margin-top: -1px; */
	/* margin-bottom: -1px; */
}

.mainContentHolder::-webkit-scrollbar-thumb {
	background-color: rgba(67, 163, 228, 0.5);
	outline: 2px solid rgb(11, 31, 44);
}

/*** btns */
#menuHolder {
	top: 0px;
	bottom: 0px;
	width: 16%;
	max-width: 270px;
	min-width: 265px;
	/* border: 1px solid orange; */
	display: none;
}

#leftContentMenu {
	position: absolute;
	top: 200px;
	right: 0;
	max-width: 215px;
	min-width: 215px;
	border: 1px solid red;
	z-index: 1000;
}

.mainBtn,
.subBtn {
	border: 2px solid lightblue;
	border-radius: 10px;
	background-color: rgb(202, 187, 168);
	text-align: center;
	max-height: 50px;
	min-height: 50px;
	line-height: 44px;
	margin: 2px;
}

#subBtns {
	width: 213px;
	/* height: 206px; */
	background-color: transparent;
	display: none;

}

#subBtns p {
	display: none;
}

.subBtn {
	max-width: 92%;
	min-width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	display: none;
}

.mainBtn:hover,
.subBtn:hover {
	cursor: pointer;
	border-color: blue;
}

/*** main content */
#mainDiv {
	display: flex;
	position: absolute;
	/* justify-content: space-around; */
	max-width: 1440px;
	width: 100%;
	top: 63px;
	bottom: 63px;
	left: 0px;
	right: 0px;
	margin: auto;
	/* border: 2px solid rgb(67, 163, 228);
	border-top: none;
	border-bottom: none; */
	box-sizing: border-box;
	/* background:whitesmoke; */
	background: transparent;
}

#readingNow {
	/* display: flex;
	justify-content: space-evenly; */
	/* margin-top: -62px; */
	/* margin-bottom: -62px; */
	max-width: 22px;
	min-width: 22px;
	background: transparent;
	border-right: 2px solid rgb(67, 163, 228);
	border: 2px solid rgb(67, 163, 228);
	/* border: 1px solid orange; */
	/* display: none; */
}

#readingNow p {
	/* position: absolute; */
	top: 30px;
	text-align: center;
	font-size: 19px;
}

/*** central content Main */
.mainContentHolder {
	top: 0px;
	bottom: 0px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	/* border: 1px solid orange; */
	overflow-y: auto;
	/* background: transparent; */
}

/* .carouselHolderDiv {
	width: 100%;
	height: 100%;
	border: 2px solid blue;
	padding: 5px;
} */

.intBioCarousel {
	/* display: block; */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	min-width: 808px;
	min-height: 608px;
}


/*** right content aside */
#rightContentAside {
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 15%;
	border: 1px solid violet;
	overflow-y: auto;
	display: none;
}

#daLiContent {
	border: 2px solid red;

}
















/*** @media */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}