/*** fonts */
/* clock */
@font-face {
	font-family: Clockfont;
	src: url(../css/fonts/Digital\ Dismay.woff);
}

/*** no text select class */
.noSelect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

/*** global */
html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
	color: white;
	line-height: 1.6;
	letter-spacing: 0.6px;
	background-image: radial-gradient(rgba(17, 30, 43, 0.7), rgb(11, 32, 51));
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-align: justify;
	word-wrap: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	text-align: center;
	padding-top: 2em;
	padding-bottom: .3em;
	letter-spacing: 1px;
}

p {
	font-weight: 400;
	margin-top: 1rem;
}

.prviP::first-letter {
	font-size: 250%;
	vertical-align: bottom;
	line-height: 1em;
	color: #43a3e4;
}

ul {
	list-style-image: url(../img/content/ul.png);
}

li {
	padding: 5px;
	padding-bottom: 10px;
}

img {
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
}

img:hover {
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
}

/*** header */

header {
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	height: 63px;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
}

.divInHeader {
	display: flex;
	position: relative;
	width: 100%;
	height: 62px;
	margin-left: 20px;
	margin-right: 20px;
	padding: .54rem 0 .64rem 0;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;

}

.logoPicTesla,
.logoPicSign {
	height: 46px;
	border: 2px solid transparent;
}

.logoPicSign:hover {
	border: 2px solid transparent;
	border-image: linear-gradient(to top, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
}

/*** footer */
footer {
	display: flex;
	flex-shrink: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 1440px;
	height: 60px;
}

.divInFooter {
	display: flex;
	width: 100%;
	height: 60px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	z-index: 1000;
}

div#readingNow {
	max-width: 23px;
	min-width: 23px;
	background: transparent;
	border: 3px solid rgb(67, 163, 228);
	border-left: none;
}

#readingNow p {
	margin-top: 0;
	margin-right: 0;
	background: rgba(67, 163, 228, 0.5);
	top: 30px;
	text-align: center;
	word-wrap: break-word;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 1px;
	padding: 4px;

}

/*** scroll */
/* scroll chrome */
.mainContentHolder::-webkit-scrollbar {
	width: 16px;
}

.mainContentHolder::-webkit-scrollbar-track {
	box-sizing: border-box;
	border: none;
}

.mainContentHolder::-webkit-scrollbar-thumb {
	background-color: rgba(67, 163, 228, 0.5);
	outline: 2px solid rgb(11, 31, 44);
}

/* scroll firefox */
.mainContentHolder {
	scrollbar-color: rgba(67, 163, 228, 0.5) transparent;
}

.bordersOnScrollbar {
	border: 3px solid rgb(67, 163, 228);
	border-right: none;
	width: 23px;
	height: 100%;
}
#anketa,div#btnDaLi{
	width: 150px;
	margin: 0 auto;
	margin-bottom: 30px;
	background: rgb(48, 123, 158);
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
}

div#btnDaLi{
	height: 50px;
	
}
#anketa a,#btnDaLi h2{
	padding: 0;
	margin: 0 auto;
	color: white;
}
#anketa a{
	padding-bottom: 10px;
}
div#btnDaLi:hover, #anketa:hover {
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
	cursor: pointer;
}

/*** main content */
#mainDiv {
	display: flex;
	position: absolute;
	max-width: 1440px;
	width: 100%;
	top: 63px;
	bottom: 63px;
	left: 0px;
	right: 0px;
	margin: auto;
	box-sizing: border-box;
	background: transparent;
}



/*** mid content */
.mainContentHolder {
	top: 0px;
	bottom: 0px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: -23px;
	padding-right: 5px;
	overflow-y: auto;
	border-top: 3px solid transparent;
	border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 90.5%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	border-image-slice: 1;
	border-bottom: 3px solid transparent;
}

/* Interaktivna carousel */
[class^=carousel-item] img {
	height: 650px;
	margin: 0 auto;
}

.pPadding h3,
.pPadding h2,
.pPadding div {
	padding: 10px;
}



/* da li ste znali */
#daLiContent {
	max-width: 1400px;
	max-height: 58px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

#daLiContent p {
	vertical-align: middle;
	font-size: 14px;
	line-height: 18px;
}

/* sat */
#satDiv {
	position: absolute;
	top: 2px;
	bottom: 2px;
	right: 30px;
}

#sat {
	font-family: ClockFont;
	font-size: 25px;
	line-height: 25px;

}

/*** btns  */

#btnHolder {
	position: absolute;
	top: 5px;
	left: 110px;
	border: 2px solid transparent;
	font-size: 15px;
	text-align: center;
	z-index: 1500;
	display: none;
}

#btnBio,
#btnInter,
#btnZanim,
#btnRane,
#btnSr,
#btnZl,
#btnPoz {
	background: rgb(31, 66, 88);
	margin: 2px;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
}

#btnBio,
#btnInter,
#btnZanim {
	min-width: 170px;
	left: 100px;


}

#btnRane,
#btnSr,
#btnZl,
#btnPoz {
	max-width: 156px;
	margin-left: 7px;

}

#btnBio:hover,
#btnInter:hover,
#btnZanim:hover,
#btnRane:hover,
#btnSr:hover,
#btnZl:hover,
#btnPoz:hover {
	cursor: pointer;
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #45a6d3 10%, #45a6d300 0%, transparent 90%, transparent 0%, #45a6d3 0%, #45a6d3 100%);
	border-image-slice: 1;
	background: rgb(43, 90, 119);
}

section:not(#sectionHome){
	display: none;
}



/*** @media */
/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	/* .mainContentHolder {
		border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 2%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 96%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	} */
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	/* .mainContentHolder {
		border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 90.5%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	} */
}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

	/* .mainContentHolder {
		border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 2%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 95%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	} */
	#daLiContent p {
		vertical-align: middle;
		font-size: 10px;
		line-height: 14px;
	}
}

/* // Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

	/* .mainContentHolder {
		border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 86%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	} */
	#satDiv {
		display: none;
	}
}

/* // Small devices (phones, 375px and down) */
@media (max-width: 375px) {

	/* .mainContentHolder {
		border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 8%, rgb(67, 163, 228) 0px, rgb(67, 163, 228) 86%, #ffffff00 0px, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	} */
	#satDiv {
		display: none;
	}
}